--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
fastapi
uvicorn
python-multipart
torch
torchvision
pillow
numpy
timm
kornia
scikit-image
huggingface_hub
transformers>=4.39.1
opencv-python
